*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
upgrade/*
uploads/*
backup-db/*
advanced-cache.php
wp-cache-config.php
cache/*
cache/supercache/*

# wpengine specific
object-cache.php
mu-plugins/mu-plugin.php
mu-plugins/slt-force-strong-passwords.php
mu-plugins/stop-long-comments.php
mu-plugins/force-strong-passwords*
mu-plugins/wpengine-common*
mysql.sql

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
